/* src/style/footer.css */
html,
body {
  height: 100%; /* Đảm bảo chiều cao của body là 100% */
  margin: 0; /* Xóa margin mặc định */
  display: flex;
  flex-direction: column;
}

.footer {
  /* position: fixed;  */
  border: 0;
  width: 100%;
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  /* z-index: 1000; */
  margin-top: auto;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0 15px;
}

.footer-info p {
  color: white;
  margin: 0 0;
}
