body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #426863;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 600;
    z-index: 1000;

}

.navbar-brand img {
    height: 40px;
}

.navbar-search input {
    padding: 10px;
    width: 500px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}

.navbar-search button {
    padding: 10px;
    border: none;
    margin-left: 2px;
    background-color: #fff;
    color: #5c9610c2;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.navbar-link a,
li {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: 600;
    font-size: 16px;
    list-style: none;
}